<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>week1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>235A292B1BB5155A0058BFBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>235A29441BB5155A0058BFBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>235A294F1BB5155A0058BFBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
